@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    font-family: 'Staatliches', cursive;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html{
    background-image: url('image-assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    text-align: center;
    margin: 0% auto;
}

.title-container {
    
    position: relative;
    margin-top: 45vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-creators {
    font-size: 90 ;
    color: #406882;
}

.project-title {
    font-size: 20;
}

.line{
    font-size: 90

}



.header{
    
    background: #2B0000;
    color: white;
    font-size: 30px;
    text-align: right;
    padding-left: 20;
    padding-right: 20;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 4000;
    margin-bottom: 400;
}

.header img{
    margin: 20;
    width: 57;
    height: 57;
}

.header p{
    margin-top: 20;
    font-size: 40px;
    font-weight: 700;
}
